<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar mt-4 ">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('book_create') }}"> Create NEW BOOK</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('get_all_users') }}"> ALL users</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('books') }}"> ALL books</a>
            </li>
            <li class="nav-item">Login</li>
        </ul>
    </nav>

    {% block content %}

    {% endblock %}

    <footer>
        <h3>footer</h3>
    </footer>
</body>
</html>